__pycache__
.env
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
*.pyc
*.pyo
*.pyd
.Python
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.mypy_cache
.pytest_cache